@page
@model RealEstateApp.Pages.Control_Panel.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].EstateType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].IsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Estate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstateType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EstateId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EstateId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EstateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
